<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390996180423-g4e16f4cmk3deqbg9cjtg9qc9aq0hqao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390996180423-g4e16f4cmk3deqbg9cjtg9qc9aq0hqao</string>
	<key>API_KEY</key>
	<string>AIzaSyDyugs0n1c9ulMoQEALsTCGAj6PTuzOioY</string>
	<key>GCM_SENDER_ID</key>
	<string>390996180423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>worker.paveleng.com</string>
	<key>PROJECT_ID</key>
	<string>eleven-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>eleven-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390996180423:ios:eac80c51c78689eb8aade2</string>
	<key>DATABASE_URL</key>
	<string>https://eleven-firebase.firebaseio.com</string>
</dict>
</plist>